body {
    font-size: 16px;
    color: rgb(33, 37, 41);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   
}

.search-container {
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: flex-start; 
    position: relative;
    width: 200px;
    
}

.search-box {
    width: 241px;
    height: 38px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(206, 212, 218);
    padding: 6px 12px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none; 
    
    width: 200px;
}

.search-box:focus {
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25); 
}

.shortcut {
    position: absolute; 
    right: 10px;
    top: 50%; 
    transform: translateY(-50%); 
    background-color: #f8f9fa; 
    border: 1px solid rgb(222, 226, 230);
    border-radius: 2px; 
    padding : 4px 4px; 
    font-size: 12px; 
    color: #495057; 
    pointer-events: none;
    height: 15px;
    
}


.search-input {
    width: 241px;
    height: 38px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(206, 212, 218);
    padding: 6px 12px;
    border-radius: 4px;
    outline: none;
}

.search-input:focus {
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}

.search-input:disabled {
    background-color: rgb(233, 236, 239);
}



#city-table {
    width: 100%;
    border-collapse: collapse;
    
}

#city-table th, #city-table td {
    border:1px solid rgb(222, 226, 230);
    padding: 8px;
    text-align: left;
}


.pagination {
    text-align: center;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}


.city-limit {
    text-align: right;
    margin: 20px;
}
